<link rel="stylesheet" href="/css/create-issue.css">
<body>
    <div id="container">
        <form action="/projects/create" method="post" id="form">
            <div class="content">
                <input type="text" name="name" id="name" placeholder="Project name" required>
            </div>
            <div class="content">
                <textarea name="description" id="description" placeholder="Project description" required cols="30" rows="3"></textarea>
                <!-- <input type="text" name="description" id="description" placeholder="Project description" required> -->
            </div>
            <div class="content">
                <input type="text" name="author" id="author" placeholder="Project author" required>
            </div>
            <div class="title">
                <input type="submit" value="Create">
            </div>
        </form>
    </div>
</body>